<template class="excel-export-dialog">
    <h4 class="main-header">${'ui.export-to-excel' | t}<i class="excel-file-icon text-green float-end"></i>
    </h4>

    <b>${'ui.options' | t}</b>
    <div class="ms-3">
        <div class="form-check" title="${'ui.when-checked-your-code-will-be-exported-to-a-separ' | t}">
            <input class="form-check-input" type="checkbox" checked.bind="options.includeCode" id="chkExportCode">
            <label class="form-check-label" for="chkExportCode">${'ui.export-code' | t}</label>
        </div>

        <div class="form-check" title="${'ui.uncheck-to-export-all-output-to-a-single-worksheet' | t}">
            <input class="form-check-input" type="checkbox" checked.bind="options.sheetPerOutputItem"
                   id="chkSheetPerOutputItem">
            <label class="form-check-label" for="chkSheetPerOutputItem">${'ui.export-to-multiple-sheets' | t}</label>
        </div>

        <div class="form-check" title="${'ui.when-checked-will-attempt-to-freeze-table-header-r' | t}">
            <input class="form-check-input" type="checkbox" checked.bind="options.freezeHeaders" id="chkFreezeHeaders">
            <label class="form-check-label" for="chkFreezeHeaders">${'ui.freeze-headers' | t}</label>
        </div>
    </div>

    <div class="mt-5">
        <div click.trigger="showAdvancedOptions = !showAdvancedOptions" class="fw-bold action-icon">
            <i class="text-orange ${showAdvancedOptions ? 'tree-collapse-node-icon' : 'tree-expand-node-icon'}"></i>${'ui.advanced' | t}</div>

        <div class="ms-3" show.bind="showAdvancedOptions" style="padding: 0.5rem">
            <div class="form-check mb-3"
            title="${'ui.uncheck-to-export-tables-only' | t}">
                <input class="form-check-input" type="checkbox" checked.bind="options.includeNonTabularData"
                       id="chkExportNonTabularData">
                <label class="form-check-label" for="chkExportNonTabularData">${'ui.export-non-tabular-data' | t}</label>
            </div>

            <b title="${'ui.background-color-for-table-headers' | t}">${'ui.header-background' | t}</b>
            <div class="ms-3 d-flex align-items-center">
                <div class="form-check form-check-inline d-flex align-items-center"
                     repeat.for="option of headerBackgroundOptions.options">
                    <input class="form-check-input mt-0"
                           type="radio"
                           name="chkHeaderBg"
                           id="chkHeaderBg${$index}"
                           model.bind="option"
                           checked.bind="headerBackgroundOptions.selected">

                    <label class="form-check-label ms-3" for="chkHeaderBg${$index}" if.bind="!option.isSelector">
                        ${option.text}
                    </label>

                    <input else
                           type="color"
                           class="ms-3"
                           style="width: 70px"
                           value.bind="option.color"
                           disabled.bind="headerBackgroundOptions.selected !== option">
                </div>
            </div>

            <b title="${'ui.foreground-color-for-table-headers' | t}">${'ui.header-foreground' | t}</b>
            <div class="ms-3 d-flex align-items-center">
                <div class="form-check form-check-inline d-flex align-items-center"
                     repeat.for="option of headerForegroundOptions.options">
                    <input class="form-check-input mt-0"
                           type="radio"
                           name="chkHeaderFg"
                           id="chkHeaderFg{$index}"
                           model.bind="option"
                           checked.bind="headerForegroundOptions.selected">

                    <label class="form-check-label ms-3" for="chkHeaderFg{$index}" if.bind="!option.isSelector">
                        ${option.text}
                    </label>

                    <input else
                           type="color"
                           class="ms-3"
                           style="width: 70px"
                           value.bind="option.color"
                           disabled.bind="headerForegroundOptions.selected !== option">
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-bar">
        <div class="buttons">
            <button class="btn btn-secondary" click.trigger="cancel()">${'ui.cancel' | t}</button>
            <button class="btn btn-primary" click.trigger="export()">${'ui.export' | t}</button>
        </div>
    </div>
</template>
